.App{
  height: 100vh;
  background-color: #ffe600b0;
  font-family:'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  display: flex;
  flex-wrap:wrap;
  justify-content: center;
  align-items: center;
}

/* .contenedor-encabezado{
  padding: 0rem 1rem;
  border-radius: 1.5rem;
  border: 2px solid #000000af;
  margin: 2rem;
  font-family: 'Digital-7 Italic', sans-serif;
} */

.contenedor-calculadora{
  padding: 1.5rem;
  background: #a9a8aa;
  background: linear-gradient(to right, #8f8f91, #a6a6a7, #a9a8aa);
  border: 2px solid #000000af;
  border-radius: 1rem;
  width: 400px;
  min-height: 425px;
  height: fit-content;
  box-shadow: 1px 1px 1px 1.5px #363636;
}

.fila{
  margin: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
}

